<!-- <div class="well"> -->
<div class="col-md-12 well it-depart">
  <h3>IT DEPARTMENT</h3>
  <% @it_employees.each do |emp| %>
  <div class="department-card col-md-3">
    <p>Name: <%= emp.name %></p>
    <p>Department: <%= emp.department.name %></p>
    <p>Manager: <%= emp.department.manager %></p>
    <p>Manager Email: <%= emp.department.email %></p>
  </div>
  <% end %>
</div>
<!-- </div> -->

<div class="col-md-12 well hr-depart">
  <h3>HR DEPARTMENT</h3>
  <% @hr_employees.each do |emp| %>
  <div class="department-card col-md-3"
  <p>Name: <%= emp.name %></p>
  <p>Department: <%= emp.department.name %></p>
  <p>Manager: <%= emp.department.manager %></p>
  <p>Manager Email: <%= emp.department.email %></p>
</div>
<% end %>
</div>

<div class="col-md-12 well account-depart">
  <h3>ACCOUNTING DEPARTMENT</h3>
  <% @accounting_employees.each do |emp| %>
  <div class="department-card col-md-3">
    <p>Name: <%= emp.name %></p>
    <p>Department: <%= emp.department.name %></p>
    <p>Manager: <%= emp.department.manager %></p>
    <p>Manager Email: <%= emp.department.email %></p>
  </div>
  <% end %>
</div>
