<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<% @employees.each do |emp| %>
  <div class="panel panel-default">
    <p>Name: <%= emp.name %></p>
    <p>Department: <%= emp.department.name %></p>
    <p>Manager: <%= emp.department.manager %></p>
    <p>Manager Email: <%= emp.department.email %></p>
  </div>
<% end %>
