<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @employee.department.name %>
</p>

<p>
  <strong>Department Manager:</strong>
  <%= @employee.department.manager %>
</p>
<p>
  <%= @employee.expenses.count %>
</p>

<%= link_to 'Edit', edit_employee_registration_path(@employee) %> |
<%= link_to 'Back', root_path %>
