<p id="notice"><%= notice %></p>

<h1>Listing Expenses</h1>

<%= link_to 'New Expense', new_expense_path %>

<% @expenses.each do |expense| %>
<div class="col-md-6 col-md-offset-3 well">
  <h2>Expense
  <small><%= expense.occurrence.occur.strftime("%B %d, %Y") %></small>
  </h2>

  <p><b>Cost:</b><%= expense.cost %></p>
  <p><b>Reason:</b><%= expense.reason %></p>
  <p><b>Location:</b><%= expense.location %></p>
  <p><b>Total miles:</b><%= expense.total_miles %></p>
  <p><b>Entertained:</b><%= expense.person_entertained %></p>

</div>
<% end %>
