<p id="notice"><%= notice %></p>

<p>
  <strong>Cost:</strong>
  <%= @expense.cost %>
</p>

<p>
  <strong>Gl code:</strong>
  <%= @expense.gl_code %>
</p>

<p>
  <strong>Location:</strong>
  <%= @expense.location %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @expense.reason %>
</p>

<p>
  <strong>Person entertained:</strong>
  <%= @expense.person_entertained %>
</p>

<p>
  <strong>Total miles:</strong>
  <%= @expense.total_miles %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
