<!DOCTYPE html>
<html>
<head>
  <title>ExpenseReport</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

<% if employee_signed_in? %>
<h6><%= current_employee.name %> is currently signed in</h6>
<% end %>

<%= yield %>
</div>

</body>
</html>
