<!DOCTYPE html>
<html>
<head>
  <title>ExpenseReport</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">

      <% if employee_signed_in? %>
      Signed in as <%= current_employee.name %> (<%= link_to "sign out", destroy_employee_session_path %>)
      <% else %>
      <%= link_to "Sign up", new_employee_registration_path %> | <%= link_to "Sign in", new_employee_session_path %>
      <% end %>

      <nav class="pull-right nav">
        <%= link_to "Employees", employees_path %> |
        <%= link_to "Departments", departments_path %> |
        <%= link_to "Expense Types", expense_types_path %> |
        <%= link_to "Expense", expenses_path %>
    </div>
  </div>


<div class="container">
  <%= yield %>
</div>
</body>
</html>
